* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#ff6686, #ff0035);
  height: 100vh;
}

.headerContainer,
.addListItemsForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerContainer {
  margin-top: 5rem;
}

.addListItemsForm {
  margin-bottom: 2.5rem;
}
.actionItemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
